form{
    
    label{
        margin-left: 2rem;
        margin-right: 2rem;
        color: rgb(245, 245, 245);
    }
    
    input{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: black;
        border-radius: 0.40rem;
        text-align: center;
    }

    select{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: black;
        border-radius: 0.40rem;
        text-align: center;
    }
}