.txt-list{
    li{
        color: rgb(245, 245, 245);
        margin: 0.5rem;
    }
}

table {
    color: rgb(245, 245, 245);
    border:2px solid green;
    tr{
        
        td {
            
            padding: 1rem;
            border-right: 1px solid green;
            width: 15rem;
        }
    }
}


